<?xml version="1.0"?>

<launch>
    <arg name="gui" default="True" />

    <!-- Load robot_description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find agv_description)/urdf/agv.urdf.xacro'" />

    <!-- Send joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Use gui -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg gui)"/>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find agv_description)/rviz/config.rviz"/>
</launch>